<!-- extends is a keyword that this document should be used by layout.html-->
{%extends"layout.html"%}
<!-- to be used it needs to be wraped in a content block-->
{%block content%}
<div class ="content-section">
            <form method ="POST" action="">
                    <!-- doble curlybraces: access variables through a template-->
        <!-- adding a csrf token or cross side request forgery token, this is part of the protection agains attacks-->
                {{form.hidden_tag()}}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{legend}}</legend>

                    <div class ="form-group">
                        {{form.title.label(class="form-control-label")}}
                        <!-- only if we have errors -->
                        {%if form.title.errors%}
                            <!-- username field as it is and in case that it is invalid, add an invalid class tho that field-->
                            {{form.title(class="form-control from-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {%for error in form.title.errors%}
                                    <span>{{error}}</span>
                                {%endfor%}
                            </div>
                        {%else%}
                            {{form.title(class="form-control from-control-lg")}}
                        {%endif%}
                    </div>
                    
                    <form class="form-inline">
                          <div class="form-group">
                       {{ form.hidden_tag() }}
                        {{ form.ingredients.label }} 
                        {{ form.ingredients.label }} 
                        {{ form.ingredients.label }} 
                        </div>
                        
                         <div class="form-group">
                      {{ form.ingredients(size=20) }}
                      {{ form.ingredients(size=20) }}
                        {{ form.ingredients(size=20) }}
                        </div>
      
                    </form>
                    
                    
                    <div class ="form-group">
                        {{form.content.label(class="form-control-label")}}
                                                <!-- only if we have errors -->
                        {%if form.content.errors%}
                            <!-- username field as it is and in case that it is invalid, add an invalid class tho that field-->
                            {{form.content(class="form-control from-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {%for error in form.content.errors%}
                                    <span>{{error}}</span>
                                {%endfor%}
                            </div>
                        {%else%}
                            {{form.content(class="form-control from-control-lg")}}
                        {%endif%}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{form.submit(class="btn btn-outline-info")}}
                </div>  
            </form>
    </div>

{%endblock content%}